<div class="clock-wrapper">
  <div class="second" [ngClass]="{ 'orange-background': inkCircle }"></div>
  <div class="five-hours row">
    <div
      *ngFor="let row1 of row1Elements; let i = index"
      class="square"
      [ngClass]="{ 'red-background': inkRow1 > i }"
    ></div>
  </div>
  <div class="single-hours row">
    <div
      *ngFor="let row2 of row2Elements; let i = index"
      class="square"
      [ngClass]="{ 'red-background': inkRow2 > i }"
    ></div>
  </div>
  <div class="one-minutes row">
    <div
      *ngFor="let row3 of row3Elements; let i = index"
      class="square"
      [ngClass]="{
        'orange-background': inkRow3 > i,
        'red-background': !((i + 1) % 3) && inkRow3 > i
      }"
    ></div>
  </div>
  <div class="seconds row">
    <div
      *ngFor="let row4 of row4Elements; let i = index"
      class="square"
      [ngClass]="{ 'orange-background': inkRow4 > i }"
    ></div>
  </div>
  <div class="time">{{ $time | async | date: 'H:mm:ss' }}</div>
</div>
